*{
    margin: 0;
    padding: 0;
}

#general
{
    width: 1345px;
    height: 885px;
    background-color: coral;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#logo{
    width: 1345px;
}

#nav{
    float: left;
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(159, 25, 208);
}



#foot {
    background-color: rgba(243, 114, 29, 0.829);
    text-align: center;
    border-radius: 15px;
}

.form
{

        background-color: rgba(58, 58, 122, 0.596);
        width: 360px;
        border: 1px solid black;
        border-radius: 15px;
        margin: 100px auto;
        padding: 15px;
}
